In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2021-11-23 18:02:54,55.7435,-97.8558,9.36,88,100,7.61
1,1,Vaitape,PF,2021-11-23 18:02:54,-16.5167,-151.7500,80.06,73,97,4.07
2,2,Nizhniy Kuranakh,RU,2021-11-23 18:02:55,58.8353,125.4869,-6.84,96,100,3.96
3,3,Saint-Philippe,RE,2021-11-23 18:02:55,-21.3585,55.7679,76.59,79,55,8.23
4,4,Untsukul,RU,2021-11-23 18:02:56,42.7115,46.7866,45.16,49,27,6.15

In [3]:
# Find the lowest value in the dataset to normalize by
city_data_df["Max Temp"].min()

-37.61

In [4]:
#Create a new column with the normalized temp values

norm_temp = [city_data_df["Max Temp"]+37.61]
norm_temp

[0       46.97
 1      117.67
 2       30.77
 3      114.20
 4       82.77
         ...
 559    115.01
 560    126.31
 561    116.12
 562    136.59
 563     59.31
 Name: Max Temp, Length: 564, dtype: float64]

In [5]:
# Add the normalized temp values to the df

city_data_df['Norm Temp'] = norm_temp[0]
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Norm Temp
0,0,Thompson,CA,2021-11-23 18:02:54,55.7435,-97.8558,9.36,88,100,7.61,46.97
1,1,Vaitape,PF,2021-11-23 18:02:54,-16.5167,-151.7500,80.06,73,97,4.07,117.67
2,2,Nizhniy Kuranakh,RU,2021-11-23 18:02:55,58.8353,125.4869,-6.84,96,100,3.96,30.77
3,3,Saint-Philippe,RE,2021-11-23 18:02:55,-21.3585,55.7679,76.59,79,55,8.23,114.20
4,4,Untsukul,RU,2021-11-23 18:02:56,42.7115,46.7866,45.16,49,27,6.15,82.77

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get rid of negative values for the max temp and replace them with 0.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

# Use the normalized values to create the heat map to account for the range in negative temperatures
# and to avoid them all being turned to zeros

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Norm Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=3.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Norm Temp
1,1,Vaitape,PF,2021-11-23 18:02:54,-16.5167,-151.7500,80.06,73,97,4.07,117.67
3,3,Saint-Philippe,RE,2021-11-23 18:02:55,-21.3585,55.7679,76.59,79,55,8.23,114.20
16,16,Butaritari,KI,2021-11-23 18:02:48,3.0707,172.7902,81.61,77,49,17.40,119.22
21,21,Atar,MR,2021-11-23 18:03:01,20.5169,-13.0499,89.49,23,79,9.51,127.10
27,27,Moussoro,TD,2021-11-23 18:03:02,13.6408,16.4901,86.31,14,1,10.09,123.92
39,39,Hilo,US,2021-11-23 18:03:06,19.7297,-155.0900,76.62,75,1,6.91,114.23
43,43,Tonantins,BR,2021-11-23 18:03:07,-2.8731,-67.8022,85.33,85,99,1.95,122.94
44,44,Rikitea,PF,2021-11-23 18:02:52,-23.1203,-134.9692,76.14,82,5,14.72,113.75
49,49,Vanimo,PG,2021-11-23 18:04:09,-2.6741,141.3028,77.47,90,97,4.29,115.08
52,52,Atuona,PF,2021-11-23 18:04:10,-9.8000,-139.0333,77.47,79,71,15.05,115.08

In [13]:
preferred_cities_df.count()

City_ID       166
City          166
Country       165
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
Norm Temp     166
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1          Vaitape      PF     80.06 -16.5167 -151.7500
3   Saint-Philippe      RE     76.59 -21.3585   55.7679
16      Butaritari      KI     81.61   3.0707  172.7902
21            Atar      MR     89.49  20.5169  -13.0499
27        Moussoro      TD     86.31  13.6408   16.4901
39            Hilo      US     76.62  19.7297 -155.0900
43       Tonantins      BR     85.33  -2.8731  -67.8022
44         Rikitea      PF     76.14 -23.1203 -134.9692
49          Vanimo      PG     77.47  -2.6741  141.3028
52          Atuona      PF     77.47  -9.8000 -139.0333

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Vaitape,PF,80.06,-16.5167,-151.7500,Conrad Bora Bora Nui
3,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
16,Butaritari,KI,81.61,3.0707,172.7902,Isles Sunset Lodge
21,Atar,MR,89.49,20.5169,-13.0499,Oumou Elghoura
27,Moussoro,TD,86.31,13.6408,16.4901,Hôtel Salama
39,Hilo,US,76.62,19.7297,-155.0900,Hilo Hawaiian Hotel
43,Tonantins,BR,85.33,-2.8731,-67.8022,Hotel Rei Davi
44,Rikitea,PF,76.14,-23.1203,-134.9692,People ThankYou
49,Vanimo,PG,77.47,-2.6741,141.3028,Vahmoneh Lodge Vanimo
52,Atuona,PF,77.47,-9.8000,-139.0333,Villa Enata

In [18]:
len(hotel_df)

166

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))